# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.csv
*.log
*.tlog
.vs/WATER/v16/.suo
.vs/WATER/v16/ipch/AutoPCH/8c5e651c3e7308ae/MAIN.ipch
.vs/WATER/v16/ipch/AutoPCH/e3877b04d72c63ed/MAIN.ipch
*.opendb
*.pdb
*.ilk
*.ipch
*.enc
*.idb
*.db
